/* Review Cards */
.review-slider {
    position: relative;
    max-width: 1350px;
    margin: auto;
    padding: 40px 0;
    overflow: hidden;
}

.review-cards-container {
    display: flex;
    transition: transform 0.5s ease-out; /* Smooth transition */
    width: max-content;
    overflow: hidden;
    will-change: transform; /* Optimize for performance */

}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px; /* Adjust card width */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
    background-color: #fff;
    margin: 20px 20px;
    

}


.review-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.review-content {
    text-align: center;
    margin-top: 15px;
}

.reviewer-card-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0 5px;
    color: black;
}

.rating {
    font-size: 1.1rem;
	margin-top: 8px;
	/* color: #ffa000;*/

}

.review-text {
    margin-top: 8px;
    color: black;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(133, 133, 133);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 10;
    border-radius: 20px;
    font-size: 10px;
    border: none;
}

.arrow-left {
    left: 5pt; /* Adjust positioning */
}

.arrow-right {
    right: 0; /* Adjust positioning */
	
}

.arrow:focus {
    outline: none;
}

@media (max-width: 768px) {
    .arrow-left, .arrow-right {
        display: none;
    }
}
